body {
    font-family:Arial;
}
table {
    width:650px;
    border-collapse:collapse;
    
}
th {
    text-align:left;
    color:#FFFFFF;
    font-weight:100;
    background-color:#5dbe08;
    border:1px solid #808080;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px
    padding:5px 8px;
}
td {
    border-left:1px solid #808080;
    padding:8px;
}
td:first-child{
    border-left: 0px;
}
tr:nth-child(2n+1) {
    background-color:#ededda;
}
th:last-child {
    width:18%;
    height: 35px;
}
img {
    width:30px;
    height:20px;
    vertical-align:top;
}
input {
    margin-left:5px;
}
.checkboxes{

    box-shadow: 1px 1px 2px #555 inset;
    background-color: #555;
}


